#container {
    margin-top: 3%;
}

body{
    direction: rtl;
}

.ui-growl {
    top: 7% !important;
    left: 0.5%;
    width: 350px;
    direction: rtl;
}

.ui-button{
    margin: 10px;
}

.txtSecurity{
    text-align: center;
    width: 240px;
    
}

#lblTitle {     
    font-size: 30px;
}


.frmMain {
    margin-top: 5%;
}

.slctMenu {
    width: 210px; 
    height: 25px;
}

.slctMenuSecurity {
    width: 250px; 
    height: 25px;
}

.lblLoggedUser{
    float: right;
    margin-right: 5%;
}

.lblDate{
    float: left;
    margin-left: 5%;
}

.txtRasas {
    text-align: center;
    width: 200px;
}

.tabView{
    width: 70%;
    
}



