#container {
    margin-top: 3%;
}

.ui-growl {
    top: 7% !important;
    left: 0.5%;
    width: 350px;
    direction: rtl;
}

.ui-button{
    margin: 10px;
}

.txtCenter{
    text-align: center;
}

#lblTitle {     
    font-size: 30px;
}


.frmMain {
    margin-top: 5%;
}

.slctMenu {
    width: 190px; 
    height: 25px;
}

.lblLoggedUser{
    float: right;
    margin-right: 5%;
}

.lblDate{
    float: left;
    margin-left: 5%;
}

.txtRasas {
    text-align: center;
    width: 170px;
}

.tabView{
    width: 70%;
    
}

.main_background {
    background-image:url("resources/images/customs_logo.jpg"); 
}


